@model List<Project_MusicRadio.Models.Album>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashboardUser</title>
    <link href="~/css/dashboarduser.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body >
    <div class="container animate__animated animate__fadeInUp">
        <a href="@Url.Action("CreateAlbum", "Home")" class="btn btn-info mb-3">Crear Álbum</a>

        <div class="input-group mb-3">
            <input type="text" class="form-control" id="keywordInput" placeholder="Buscar por palabra clave" aria-label="Buscar por palabra clave" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Buscar</button>

        </div>

        <div class="card animate__animated animate__fadeInUp">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" width="180">Quantity songs</th>
                    <th scope="col" width="300" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var album in Model)
                    {
                        <tr class="album">
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img src="@album.ImageAlbum" class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        <h6 class="title text-truncate">@album.NameAlbum</h6>
                                        <dl class="param param-inline small">
                                            <dt>Band Song: </dt>
                                            <dd>@album.MusicBand</dd>
                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Year: </dt>
                                            <dd>@album.ReleaseYear</dd>
                                        </dl>
                                    </figcaption>
                                </figure>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a href="@Url.Action("CreateSong", "Home", new { idAlbum = album.IdAlbum })" class="btn btn-info"> +</a>
                                <a href="@Url.Action("SongsView", "Home", new { idAlbum = album.IdAlbum })" class="btn btn-outline-info" data-toggle="modal" data-target="#songModal">View Songs</a>
                                <a href="@Url.Action("DeleteAlbum", new { idAlbum = album.IdAlbum })" class="btn btn-outline-danger">  Delete album</a>
                            </td>
                        </tr>
                    }

            </tbody>
        </table>
    </div>
</div>
    <script>
        document.getElementById("keywordInput").addEventListener("input", function () {
            var keyword = this.value.toLowerCase();
            var albums = document.querySelectorAll(".album");

            albums.forEach(function (album) {
                var albumName = album.querySelector(".title").innerText.toLowerCase();
                if (albumName.includes(keyword)) {
                    album.style.display = "table-row";
                } else {
                    album.style.display = "none";
                }
            });
        });
    </script>


</body>
</html>